/* .nav {
  background-color: #282828;
}

.nav--wrapper {
  display: flex;
}

.image {
  max-width: 140px;
  min-height: 30px;
}

.image2 {
  padding: 8px;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  cursor: pointer;
}

.home {
  margin-left: 32px;
}

.headings {
  justify-content: space-between;
  font-size: 18px;
}

.expand:hover {
  background-color: #d3d3d3;
  color: black;
}

/* .expand {
  position: relative;
}

.expand:after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #fff;
  transition: width 0.5s ease;
  -webkit-transition: width 0.5s ease;
}

.expand:hover:after {
  width: 100%;
  left: 0;
  background: #fff;
} */
nav {
  background-color: #000 !important;
}

.image {
  max-width: 140px;
  min-height: 30px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  mix-blend-mode: difference;
}

nav ul li a:hover {
  color: white;
}

nav ul li {
  --c: #fff;
  color: var(--c);
  font-size: 16px;
  border: 0.1em solid var(--c);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
  cursor: pointer;
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

nav ul li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

/* nav ul li:hover a {
  color: black;
} */

nav ul li:hover span {
  transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
  --n: 1;
}

nav ul li span:nth-child(2) {
  --n: 2;
}

nav ul li span:nth-child(3) {
  --n: 3;
}

nav ul li span:nth-child(4) {
  --n: 4;
}
@media (max-width: 900px) {
  .navbar-shi-se-bna-leta{
    flex-direction: column !important;
    
  }
}