/* Event Page */
.event-wrapper {
  overflow-x:hidden !important;
  background-color: beige;
}
.mainHeading {
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
  background-color: #000;
  color: beige;
}
.event-date {
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 20px;
  font-size: 14px;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.418);
}
.event-details a {
  font-size: 15px;
  color: rgb(106, 6, 236);
  text-decoration: none;
  margin: 0 1rem 0 0;
  opacity: 0.9;
}
.event-details a:hover {
  text-decoration: underline;
  transform: scale(1.1);
  opacity: 0.7;
}

.externalLinkIco {
  width: 15px;
}
.event-details {
  background-color: #fff;
  box-shadow: 1px 2px 12px rgba(0, 0, 0, 0.284);
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 1rem 1rem;
}
.event-details .tittle {
  font-weight: bolder;
  color:#000;
}
.event-details p {
  color: #444;
}

/* Contact Us Page */
.contact-1 {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: absolute;
}
.triangle_bottom_left {
  width: 0;
  height: 0;
  padding-left: 20%;
  border-bottom: 100vh solid beige;
  border-right: 80vw solid transparent;
  z-index: -1;
  position: absolute;
}
.contact-main {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: transparent;
  display: flex;
}
.contact-main-top {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
}
.contact-message {
  padding-left: 1rem;
  color: #000;
  width: 75%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.contact-message h3 {
  font-size: 40px;
  letter-spacing: 5px;
  margin-bottom: 1rem;
}
.contact-message p {
  margin: 1rem 0;
  font-size: 15px;
}
.contact-connect {
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  margin: 1rem 0 0 1rem;
  gap: 1rem;
}
.contact-connect-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60%;
}
.contact-connect a {
  text-decoration: none;
  color: inherit;
}
.contact-connect a:hover {
  /* text-decoration: underline; */
  opacity: 0.7;
}
.contact-social {
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 0.25rem 0.5rem;
  gap: 0.5rem;
}
.connect-svg {
  width: 40px;
  height: 40px;
}
.contact-insta {
  border: 1.5px solid #e1306c;
  /* color: #E1306C; */
}
.contact-fb {
  border: 1.5px solid #1877f2;
  /* color: #1877f2; */
}
.contact-linkedin {
  border: 1.5px solid #0077b5;
  /* color: #0077b5; */
}
.contact-github {
  border: 1.5px solid #6e5494;
  /* color: #6e5494; */
}
.contact-dc {
  border: 1.5px solid #5865f2;
  /* color: #5865f2; */
}
.contact-main-bottom {
  display: flex;
  justify-content: flex-start;
  /* gap: 1rem; */
  width: 100%;
}
.contact {
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
  width: 30%;
  gap: 10px;
}
#phone {
  flex: initial;
}
#email {
  flex: 3;
}
#address {
  flex: 2;
}
@media only screen and (max-width: 980px) {
  .triangle_bottom_left {
    border: none;
    width: 80%;
    background-color: beige;
    height: 100vh;
  }
  .contact-main-bottom {
    flex-direction: column;
  }
  .contact {
    width: auto;
  }
}
@media only screen and (max-width: 768px) {
  .triangle_bottom_left {
    width: 70%;
  }
  .contact {
    width: 70vw;
  }
  .contact-message {
    width: 70vw;
    height: 60vh;
    justify-content: flex-end;
  }
  .contact-connect {
    margin: 0;
  }
}
@media only screen and (max-width: 500px) {
  .triangle_bottom_left {
    width: 100%;
    height: 110vh;
  }
  .contact-main-top {
    width: 100%;
  }
  .contact {
    width: 100%;
  }
  .contact-message {
    width: 100%;
    height: auto;
    /* display: block; */
    justify-content: flex-start;
  }
  .contact-main {
    flex-direction: column;
  }
  .contact-connect {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0 0 0 0;
  }
  .contact-connect-head {
    color: #000;
  }
  .contact-connect a {
    text-decoration: none;
    color: inherit;
  }
  .contact-social {
    display: block;
    border: 0;
    padding: 0.5rem;
    gap: 0;
  }
  .connect-text {
    display: none;
  }
  .contact-connect {
    flex-direction: column;
    gap: 0;
  }
  .contact-connect-head {
    font-weight: 500;
  }
  .contact-connect-icons {
    flex-direction: row;
  }
}
